.floating-button {
   position: fixed;
    bottom: 8%;
    background: linear-gradient(45deg, #ff6ec4, #7873f5, #f1a7f1);
    background-size: 300% 300%;
    border: none;
    width: 100%;
    color: white;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transition: background-position 0.5s ease;
    outline: none;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    animation: glowing 5s ease infinite;
}

.plus-icon {
    font-size: 2vh;
}
@keyframes glowing {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .glowing-button:hover {
    box-shadow: 1px 4px 20px rgb(255, 255, 255); /* увеличение тени при наведении */
  }