.spisok{
    color:aqua;
    padding: 17vh 0;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    flex: 1;
    text-transform: capitalize;
    text-align: center;
}
.hello{
    position: fixed;
    bottom: 85%;
    width: 100%;
}