body {
  color: azure;
    text-align: center;
    background-color: #000000;
    background-size: cover;
    background-position: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  } 
.product-list {
  display: grid;
  padding: 5% 25% 5%;
  grid-template-columns: repeat(2, 1fr);
  gap: 25%;
  justify-items: center;
  -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.product-item {
  background-color: #000;
  border: 3px solid;
  width: 60%;
  border-color: white;
  text-align: center;
  cursor: pointer;
  outline: none;
  -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.product-item img {
  padding: 5% 0 0;
  max-width: 100%;
  -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.product-item.selected {
  transform: scale(1.2);
  justify-content: space-around;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.product-item.selected img {
  border: 2px solid #000;
  -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Адаптация для мобильных устройств */
@media (max-width: 600px) {
  .product-list {
    display: grid;
    padding: 9% 0% 60%;
    gap: 2%;
    justify-items: center;
    grid-template-columns: 1fr;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}