/* RotatingBall.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6vh;
    position: relative;
  }
  
  .circles-counter {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--tg-theme-text-color);
    font-weight: bold;
  }
  
  .circle {
    width: 200px;
    height: 200px;
    border: 2px solid var(--tg-theme-text-color);
    border-radius: 50%;
    position: relative;
  }
  
  .ball {
    width: 20px;
    height: 20px;
    background: linear-gradient(45deg, #ff6ec4, #7873f5);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 0 0;
    transition: transform 0.1s ease-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: grab;
  }
  
  .ball:active {
    cursor: grabbing;
    transform: scale(1.1);
  }
  
  .line {
    width: 300px;
    height: 3px;
    background-color: #ffffff;
    margin-top: 25vh;
    position: relative;
  }
  
  .line-ball {
    width: 20px;
    height: 20px;
    background-color: rgb(38, 179, 106);
    border-radius: 50%;
    position: absolute;
    top: 10px; /* Центрируем шарик относительно полосы */
    animation: moveLineBall 1s linear infinite alternate;
  }
  
  @keyframes moveLineBall {
    0% {
      left: 0;
    }
    100% {
      left: 280px; /* Двигаемся до конца полосы, оставляя небольшой отступ */
    }
  }
  